/* ========== Setup ========== */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* ========== Body ========== */

body {
    background-image: url('../images/dna.jpg');
    background-position: center center;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* ========== Info ========== */

#info {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1rem auto;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    padding: 1rem;
}

/* ========== Sequence Action(s) ========== */

.active {
    background-color: rgb(56, 56, 255);
}

.seq-actions {
    display: flex;
    flex-direction: row;
    color: white;
    font-weight: bold;
    font-size: larger;
    justify-content: space-around;    
}

.seq-actions a {
    border-radius: 8px;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.seq-action:hover {
    background-color: rgb(56, 56, 255);
}

/* ========== Sequence Decsriptions ========== */

#description {
    color: white;
    text-align: center;
    font-size: larger;
    padding: 1rem;
}

/* ========== Error Messages ========== */

.page-error-message {
    width: 80%;
    margin: 2rem auto;
    text-align: center;
    font-size: 4rem;
    color: white;
}

.return-home {
    margin: 2rem auto;
    text-align: center;
}

.return-home a {
    background-color: #45a049;
    border-radius: 8px;
    text-decoration: none;
    padding: 1rem;
    color: white;
    font-size: 1rem;
}

.return-home a:hover {
    background-color: #4CAF50;
    transition: background-color 0.3s ease;
}

.error-messages {
    width: 80%;
    margin: auto;
    text-align: center;
}

.error-message {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(255,0,0,0.5);
    color: white;
    font-weight: bold;
}

/* ========== forms ========== */

.forms{
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0, 0.4);
    border-radius: 8px;
    width: fit-content;
    margin: 1rem auto;
    padding: 2rem;
    color: white;
    font-size: large;
}

.large-form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-group-col {
    display: flex;
    flex-direction: column;
}

.input-group-row {
    display: flex;
    flex-direction: row;
}

.form-group {
    margin-bottom: 15px;
}

.spacing {
    margin-left: 15px;
}

.form-group input[type="number"]{
    padding: 2px;
    font-size: large;
}

.form-group input[type="checkbox"],
.form-group input[type="radio"] {
    margin-right: 10px;
    margin-left: 5px;
}

.form-group input[type="file"] {
    color: #f0f0f0;
}

.form-group label {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background: rgba(0, 0, 127, 0.3);
}

.form-group label:hover {
    background: rgba(0, 0, 200, 0.8);
    transition: background-color 0.4s ease;
}

/* Style the submit button */
.form-group input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group input[type="submit"]:hover {
    background-color: #45a049;
}

.center {
    display: flex;
    justify-content: center;
}

.info {
    margin-bottom: 10px;
    font-size: 20px;
}
