{% extends "base.html" %}

{% block title %}Sequence Alignment{% endblock %}

{% block content %}
<form action="/sequence_alignment" method="POST" id="alignment-form" enctype="multipart/form-data" class="forms">
    <div class="large-form-group">

        <div class="info">
            Alignment Parameter(s):
        </div>
        <div class="radio-group-col">
            <div class="form-group">
                <label for="global">Global Alignment</label>
                <input type="radio" id="global" name="align_type" value="global" checked>
            </div>
            <div class="form-group">
                <label for="local">Local Alignment</label>
                <input type="radio" id="local" name="align_type" value="local">
            </div>
        </div>
        <div class="input-group-col">
            <div class="form-group">
                <label for="match_point">Match Point(s)</label>
                <input type="number" name="match_point" value="1" min="1" max="1000" id="match_point">
            </div>
            <div class="form-group">
                <label for="match_penalty">Mismatch Penalty</label>
                <input type="number" name="match_penalty" value="-1" min="-1000" max="-1" id="match_penalty">
            </div>
            <div class="form-group">
                <label for="gap_penalty">Gap Penalty</label>
                <input type="number" name="gap_penalty" value="-2" min="-1000" max="-1" id="gap_penalty">
            </div>

        </div>

        <div class="info">
            Type of File Returned:
        </div>
        <div class="radio-group">
            <div class="form-group">
                <label for="txt">Text</label>
                <input type="radio" id="txt" name="file_type" value="txt" checked>
            </div>
            <div class="form-group">
                <label for="csv">CSV</label>
                <input type="radio" id="csv" name="file_type" value="csv">
            </div>
            <div class="form-group">
                <label for="json">JSON</label>
                <input type="radio" id="json" name="file_type" value="json">
            </div>
        </div>
    </div>

    <div class="info">
        Input File(s):
    </div>
    <div class="input-group-col">
        <div class="form-group">
            <label for="file1">Sequence 1</label>
            <input type="file" name="file1" required>
        </div>
        <div class="form-group">
            <label for="file2">Sequence 2</label>
            <input type="file" name="file2" required>
        </div>
    </div>

    <div class="form-group center">
        <input type="submit" value="Submit" onclick="submitForm('alignment-form')">
    </div>
</form>
{% endblock %}