{% extends "base.html" %}

{% block title %}Sequence Alignment{% endblock %}

{% block content %}
<form action="/sequence_variance" method="POST" id="variance-form" enctype="multipart/form-data" class="forms">
    <div class="large-form-group">

        
        <div class="input-group-col">
            <div class="info">
                Plot Type(s):
            </div>
            <div class="input-group-row">
                <div class="form-group">
                    <label for="plot">Get Plot Without V-Regions</label>
                    <input type="checkbox" name="plot" value="true" id="plot">
                </div>
                <div class="form-group">
                    <label for="smooth">Smooth Plot Data</label>
                    <input type="checkbox" name="smooth" value="true" id="smooth">
                </div>
                <div class="form-group">
                    <label for="vRegion">Get Plot With V-Regions</label>
                    <input type="checkbox" name="vRegion" value="true" id="vRegion">
                </div>
            </div>

            <div class="info">
                Variance Parameter(s):
            </div>
            <div class="input-group-row">
                <div class="form-group">
                    <label for="spacing">Spacing:</label>
                    <input type="number" name="spacing" value="30" min="1" max="1000" id="spacing">
                </div>
                <div class="form-group spacing">
                    <label for="numV">Number of V-Regions:</label>
                    <input type="number" name="numV" value="6" min="1" max="1000" id="numV">
                </div>
            </div>
        </div>
    
        <div class="info">
            Type of File Returned:
        </div>
        <div class="input-group-row">
            <div class="form-group">
                <label for="pdf">PDF</label>
                <input type="radio" id="pdf" name="file_type" value="pdf" checked>
            </div>
            <div class="form-group">
                <label for="png">PNG</label>
                <input type="radio" id="png" name="file_type" value="png">
            </div>
            <div class="form-group">
                <label for="jpg">JPG</label>
                <input type="radio" id="jpg" name="file_type" value="jpg">
            </div>
        </div>
    </div>
    
    <div class="info">
        Input File(s):
    </div>
    <div class="input-group-col">
        <div class="form-group">
            <label for="file">Sequence File:</label>
            <input type="file" name="file" required>
        </div>
    </div>

    <div class="form-group center">
        <input type="submit" value="Submit" onclick="submitForm('variance-form')">
    </div>    
</form>
{% endblock %}